{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block subtitle %}<h3 class="titre">Se connecter</h3>{% endblock subtitle %}

{% block catego %}{% endblock catego %}
{% block btn %}{% endblock btn %}

{% block log %}
 
{% if error %}
    <p>{{error.message}}</p>
{% endif %}

{# <form action="{{path('login')}}" method="post">
    <label>Email : </label>
    <input type="email" name="_username" value="{{lastEmail}}">
    <label>Password : </label>
    <input type="password" name="_password">

    <button>Login</button>
</form> #}

<form>
        <div class=" loglog container col-md-4 mt-5 py-1 ">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="_username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control">
        </div>
    
        <button type="submit" class="btn btn-primary mt-3" name="_password">Submit</button>
    </div>
      </form>
    

{% endblock log %}


