{% extends 'base.html.twig' %} {% block title %}Hello {{ controller_name }}!{% endblock %} {% block body %}

<body>


    <div class="add_category">Add Category</div>

    <div class="name_cat">Name</div>

    <button class="submit_cat">Update</button>
</body>
{% endblock %}