<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock title %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script> {% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/style.css')}}"> {% endblock %}
</head>

<body>
  {# {% include '_header.html.twig' %} #} 
  
  <header>
      <a href="{{path('login')}}"><button type="button" class="admin align-text-bottom btn btn-warning">Admin</button></a>
    <h1 class="titre">Mon site de e-commerce</h1>
    {% block home %}
     
    {% endblock home %}
    {% block subtitle %}{% endblock subtitle %}
    
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{path('home')}}">Acceuil</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% block catego %}
          <li class="nav-item">
            <a class="nav-link" href="#">Category 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Category 2</a>
          </li>
          {% endblock catego %}
          {% block btn %}<a href="{{path('login')}}"><button class="btn btn-success" type="submit"> Log in</button></a>{% endblock btn %}
          {% block btn2 %}<a href="{{path('sign_up')}}"><button class="btn btn-primary" type="submit">Sign in</button></a>{% endblock btn2 %}
        </ul>
      </div>
    </nav>
  </header>
  
   {% block cards %} {% endblock cards %} 
   
   {% endblock content %}
   {% block log %}{% endblock log %}
   {% block form %} {% endblock form %}
   
  {% block body %}{% endblock body %}

</body>

</html>