{% extends 'base.html.twig' %} 

{% block title %} Inscription {% endblock %} 

{% block subtitle %}<h3 class="titre">Inscription</h3>{% endblock subtitle %} 

{% block catego %} {% endblock catego %} 
{% block btn2 %} {% endblock btn2 %} 

{% block form %}
    <div class=" loglog container col-md-4 mt-5 py-1">
        {{ form_start(form) }} 
        {{ form_widget(form) }}
        <button class="btn btn-primary mt-3">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock form %}